name: pre-commit

on:
  push:

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: hashicorp/setup-terraform@v3
      with:
        terraform_version: "1.5.7"
    - uses: terraform-linters/setup-tflint@v4
      with:
        tflint_version: "v0.49.0"
    - uses: actions/setup-go@v5
      with:
        go-version: "1.21.5"
    - name: Install terraform-docs
      run: go install github.com/terraform-docs/terraform-docs@v0.16.0
    - uses: pre-commit/action@v3.0.0
